<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    <title>Document</title>
</head>
<body style="background-image: url(https://wallpaperaccess.com/full/104008.jpg); background-repeat: no-repeat; background-size: cover;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-10 d-flex justify-content-center">
                <div class="card mb-1 text-light border-0" style="width: 90%; background-image: url(https://i.pinimg.com/originals/48/8f/45/488f4521a7ba89102cc3c635343d4db8.jpg); background-repeat: no-repeat; background-size: cover;">
                    <h1 class="card-title text-center mt-2">Job And Company Details</h1>
                    <img src="<%= user.jobs.logo_url %>" class="card-img-top rounded-circle mx-auto my-3" style="width: 50%;">
                    <hr>
                    <div class="card-body container" style="width: 60%;">
                        <div class="row">
                            <div class="col-2"><h1><i class="fas fa-id-card"></i></h1></div>
                            <div class="col-10">
                                <div><b><%= currentUser.jobs.company_name %></b></div>
                                <div><em>Company Name</em></div>      
                            </div>
                        </div>
                    </div>
                    <div class="card-body container" style="width: 60%;">
                        <div class="row">
                            <div class="col-2"><h1><i class="fas fa-user-tie"></i></h1></div>
                            <div class="col-10">
                                <div><b><%=user.jobs.company_address %></b></div>
                                <div><em>Company Address</em></div>      
                            </div>
                        </div>
                    </div>
                    <div class="card-body container" style="width: 60%;">
                        <div class="row">
                            <div class="col-2"><h1><i class="fas fa-user-tie"></i></h1></div>
                            <div class="col-10">
                                <div><b><%=user.jobs.company_url %></b></div>
                                <div><em>Check out The Company Details</em></div>      
                            </div>
                        </div>
                    </div>
                    <div class="card-body container" style="width: 60%;">
                        <div class="row">
                            <div class="col-2"><h1><i class="fas fa-user-tie"></i></h1></div>
                            <div class="col-10">
                                <div><b><%= user.jobs.position%></b></div>
                                <div><em>Your Position</em></div>      
                            </div>
                        </div>
                    </div>
                    <div class="card-body container" style="width: 60%;">
                        <div class="row">
                            <div class="col-2"><h1><i class="fas fa-user-tie"></i></h1></div>
                            <div class="col-10">
                                <div><b><%= user.jobs.start %></b></div>
                                <div><em>Date Of Join</em></div>      
                            </div>
                        </div>
                    </div>
                    <div class="card-body container" style="width: 60%;">
                        <div class="row">
                            <div class="col-2"><h1><i class="fas fa-user-tie"></i></h1></div>
                            <div class="col-10">
                                <div><b><%= user.jobs.current %></b></div>
                                <div><em>Current Project</em></div>      
                            </div>
                        </div>
                    </div>
                    <div class="card-body container" style="width: 60%;">
                        <div class="row">
                            <div class="col-2"><h1><i class="fas fa-user-tie"></i></h1></div>
                            <div class="col-10">
                                <div><b><%= user.jobs.currentprodetails %></b></div>
                                <div><em>Current Project Details</em></div>      
                            </div>
                        </div>
                    </div>
                    <div class="card-body container" style="width: 60%;">
                        <div class="row">
                            <div class="col-2"><h1><i class="fas fa-user-tie"></i></h1></div>
                            <div class="col-10">
                                <div><b><%= user.jobs.salary %></b></div>
                                <div><em>Salary</em></div>      
                            </div>
                        </div>
                    </div>
                    <a href="/logout" class="btn btn-danger mx-auto mb-2">logout</a>
                </div>
            </div>
        </div>      
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(".fa-caret-up").hide();
        $(".popdown").click(function(){
            $(this).find(".fa-sort-down").toggle();
            $(this).find(".fa-caret-up").toggle();
        });
    </script>
</body>
</html>